In [1]:
#step1
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# To run sql queries on DataFrame

import pandasql as psql

In [2]:
#2
#load the concrete data
con=pd.read_csv(r"C:\Users\R Sobha Supriya\Desktop\internship datsets&files\Concrete_Data_V1.0.csv",header=0)
#copy to backup files
con_bk=con.copy()
#claims_BK2=claims.copy()
#display concrete data
con.head()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
con.describe()

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [4]:
con.shape

(1030, 9)

In [5]:
con.isnull().sum()

Cement              0
Slag                0
Flyash              0
Water               0
SuperPlasticizer    0
CoarseAggregate     0
FineAggregate       0
Age                 0
CSinMPa             0
dtype: int64

In [6]:
con.dtypes

Cement              float64
Slag                float64
Flyash              float64
Water               float64
SuperPlasticizer    float64
CoarseAggregate     float64
FineAggregate       float64
Age                   int64
CSinMPa             float64
dtype: object

In [7]:
#step3
con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1030 non-null   float64
 1   Slag              1030 non-null   float64
 2   Flyash            1030 non-null   float64
 3   Water             1030 non-null   float64
 4   SuperPlasticizer  1030 non-null   float64
 5   CoarseAggregate   1030 non-null   float64
 6   FineAggregate     1030 non-null   float64
 7   Age               1030 non-null   int64
 8   CSinMPa           1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [8]:
#4
#identify duplicates in dataset
con_dup=con[con.duplicated(keep='last')]
#display duplicate records
con_dup

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa
72,425.0,106.3,0.0,153.5,16.5,852.1,887.1,3,33.40
77,425.0,106.3,0.0,153.5,16.5,852.1,887.1,3,33.40
83,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
86,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
88,362.6,189.0,0.0,164.9,11.6,944.7,755.8,3,35.30
95,425.0,106.3,0.0,153.5,16.5,852.1,887.1,7,49.20
100,425.0,106.3,0.0,153.5,16.5,852.1,887.1,7,49.20
106,362.6,189.0,0.0,164.9,11.6,944.7,755.8,7,55.90
109,362.6,189.0,0.0,164.9,11.6,944.7,755.8,7,55.90
118,425.0,106.3,0.0,153.5,16.5,852.1,887.1,28,60.29
123,425.0,106.3,0.0,153.5,16.5,852.1,887.1,28,60.29
129,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
132,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
134,362.6,189.0,0.0,164.9,11.6,944.7,755.8,28,71.30
141,425.0,106.3,0.0,153.5,16.5,852.1,887.1,56,64.30
146,425.0,106.3,0.0,153.5,16.5,852.1,887.1,56,64.30
152,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
155,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
157,362.6,189.0,0.0,164.9,11.6,944.7,755.8,56,77.30
164,425.0,106.3,0.0,153.5,16.5,852.1,887.1,91,65.20
169,425.0,106.3,0.0,153.5,16.5,852.1,887.1,91,65.20
175,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
177,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
179,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91,79.30
801,252.0,0.0,0.0,185.0,0.0,1111.0,784.0,28,19.69

In [9]:
#5
#remove the identified duplicate records duplicates
con=con.drop_duplicates()
#display the shape of dataset
con.shape

(1005, 9)

In [10]:
#6
#resetting row index
con=con.reset_index(drop='True')
#take another backup copy file to backup file after deletion of duplicate records
con_bk2=con.copy()

In [11]:
con.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cement            1005 non-null   float64
 1   Slag              1005 non-null   float64
 2   Flyash            1005 non-null   float64
 3   Water             1005 non-null   float64
 4   SuperPlasticizer  1005 non-null   float64
 5   CoarseAggregate   1005 non-null   float64
 6   FineAggregate     1005 non-null   float64
 7   Age               1005 non-null   int64
 8   CSinMPa           1005 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 70.8 KB

In [12]:
#display unique values of all variables
con.nunique()#for discrete vars

Cement              278
Slag                185
Flyash              156
Water               195
SuperPlasticizer    111
CoarseAggregate     284
FineAggregate       302
Age                  14
CSinMPa             845
dtype: int64

In [13]:
#7 identify missing values in dataset if there r null vlues then usef,bfill,interpolate,simple,knn imputer
con.isnull().sum()

Cement              0
Slag                0
Flyash              0
Water               0
SuperPlasticizer    0
CoarseAggregate     0
FineAggregate       0
Age                 0
CSinMPa             0
dtype: int64

In [14]:
#con.columns

In [15]:
#identify the independent and Target (dependent) variables
IndepepVar=[]
for col in con.columns:
    if col!='CSinMPa ':
        IndepepVar.append(col)
TargetVar="CSinMPa" 
x=con[IndepepVar]
y=con[TargetVar]

In [16]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Display the shape for train & test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((703, 9), (302, 9), (703,), (302,))

In [17]:
# Scaling the features by using MinMaxScaler

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train= mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

x_test= mmscaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [18]:
#regression algo
from sklearn.linear_model import LinearRegression
ModeIRGR=LinearRegression()
ModeIRGR.fit(x_train,y_train)
y_pred=ModeIRGR.predict(x_test) 
from sklearn import metrics
print('mean absalute error (MAE):',round(metrics.mean_absolute_error(y_test,y_pred),3))
print('mean squared error (MSE):',round(metrics.mean_squared_error(y_test,y_pred),3))
print('root mean squared error(RMSA):',round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print('R2_score:',round(metrics.r2_score(y_test,y_pred),6))
print('mean absalute percentage error (MAPE):',round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print('root mean squared log error(RMSLE)',round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')
# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

mean absalute error (MAE): 0.713
mean squared error (MSE): 0.836
root mean squared error(RMSA): 0.914
R2_score: 0.997091
mean absalute percentage error (MAPE): 2.337 %
root mean squared log error(RMSLE) -0.089
Mean Absolute Percentage Error (MAPE): 2.337 %
Adj R Square:  0.997065

In [19]:
# Display the Final results 

Results = pd.DataFrame({'CSinMPa_A':y_test, 'CSinMPa_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = con_bk2.merge(Results, left_index=True, right_index=True)

ResultsFinal['%Error'] = round(((ResultsFinal['CSinMPa_A']-ResultsFinal['CSinMPa_P'])/ResultsFinal['CSinMPa_A'])*100,3)

# Display 10 records randomly

ResultsFinal.sample(5)

,Cement,Slag,Flyash,Water,SuperPlasticizer,CoarseAggregate,FineAggregate,Age,CSinMPa,CSinMPa_A,CSinMPa_P,%Error
656,102.0,153.0,0.0,192.0,0.0,887.0,942.0,28,17.28,17.28,17.599513,-1.849
440,167.0,75.4,167.0,164.0,7.9,1007.3,770.1,100,56.81,56.81,55.356646,2.558
309,246.8,0.0,125.1,143.3,12.0,1086.8,800.9,100,66.42,66.42,64.535651,2.837
521,255.0,0.0,0.0,192.0,0.0,889.8,945.0,28,18.75,18.75,19.003585,-1.352
110,425.0,106.3,0.0,151.4,18.6,936.0,803.7,28,61.80,61.80,60.122852,2.714