In [1]:
#step1
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

# Ignore harmless warnings 

import warnings 
warnings.filterwarnings("ignore")

# Set to display all the columns in dataset

pd.set_option("display.max_columns", None)

# To run sql queries on DataFrame

import pandasql as psql

In [2]:
#2
#load the concrete data
co2=pd.read_csv(r"C:\Users\R Sobha Supriya\Desktop\internship datsets&files\MY2021_Fuel_Consumption_Ratings.csv",header=0)
#copy to backup files
co2_bk=co2.copy()
#claims_BK2=claims.copy()
#display concrete data
co2.head()

,Year,Make,Model,Vehicle_Class,Engine_Size,Cylinders,Transmission,Fuel_Type,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_Rating,Smog_Rating
0,2021,Acura,ILX,Compact,2.4,4,AM8,Z,9.9,7.0,8.6,33,199,6,3
1,2021,Acura,NSX,Two-seater,3.5,6,AM9,Z,11.1,10.8,11.0,26,256,4,3
2,2021,Acura,RDX SH-AWD,SUV: Small,2.0,4,AS10,Z,11.0,8.6,9.9,29,232,5,6
3,2021,Acura,RDX SH-AWD A-SPEC,SUV: Small,2.0,4,AS10,Z,11.3,9.1,10.3,27,242,5,6
4,2021,Acura,TLX SH-AWD,Compact,2.0,4,AS10,Z,11.2,8.0,9.8,29,230,5,7

In [3]:
#step3
co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 883 entries, 0 to 882
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       883 non-null    int64
 1   Make                       883 non-null    object
 2   Model                      883 non-null    object
 3   Vehicle_Class              883 non-null    object
 4   Engine_Size                883 non-null    float64
 5   Cylinders                  883 non-null    int64
 6   Transmission               883 non-null    object
 7   Fuel_Type                  883 non-null    object
 8   Fuel_Consumption_city      883 non-null    float64
 9   Fuel_Consumption_Hwy       883 non-null    float64
 10  Fuel_Consumption_Comb      883 non-null    float64
 11  Fuel_Consumption_Comb_MPG  883 non-null    int64
 12  CO2_Emissions              883 non-null    int64
 13  CO2_Rating                 883 non-null    int64
 14  Smog_Rating                883 non-null    int64
dtypes: float64(4), int64(6), object(5)
memory usage: 103.6+ KB

In [4]:
#5
#identify duplicates in dataset
co2_dup=co2[co2.duplicated(keep='last')]
#dispaly duplicate values
co2_dup

Empty DataFrame
Columns: [Year, Make, Model, Vehicle_Class, Engine_Size, Cylinders, Transmission, Fuel_Type, Fuel_Consumption_city, Fuel_Consumption_Hwy, Fuel_Consumption_Comb, Fuel_Consumption_Comb_MPG, CO2_Emissions, CO2_Rating, Smog_Rating]
Index: []

In [5]:
#7 identify missing values in dataset if there r null vlues then usef,bfill,interpolate,simple,knn imputer
#in banking no null values frequently so data should be accurate 
#so 2 teams for validation and fetching data
co2.isnull().sum()

Year                         0
Make                         0
Model                        0
Vehicle_Class                0
Engine_Size                  0
Cylinders                    0
Transmission                 0
Fuel_Type                    0
Fuel_Consumption_city        0
Fuel_Consumption_Hwy         0
Fuel_Consumption_Comb        0
Fuel_Consumption_Comb_MPG    0
CO2_Emissions                0
CO2_Rating                   0
Smog_Rating                  0
dtype: int64

In [6]:
co2=co2.drop(['Year','Make','Model','Vehicle_Class','Transmission','Fuel_Type','CO2_Rating' ,'Smog_Rating' ],axis=1)
co2.head()

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions
0,2.4,4,9.9,7.0,8.6,33,199
1,3.5,6,11.1,10.8,11.0,26,256
2,2.0,4,11.0,8.6,9.9,29,232
3,2.0,4,11.3,9.1,10.3,27,242
4,2.0,4,11.2,8.0,9.8,29,230

In [7]:
#identify the independent and Target (dependent) variables
IndepepVar=[]
for col in co2.columns:
    if col!='CO2_Emissions ':
        IndepepVar.append(col)
TargetVar="CO2_Emissions" 
x=co2[IndepepVar]
y=co2[TargetVar]

In [8]:
# Split the data into train and test (random sampling)

from sklearn.model_selection import train_test_split 

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

# Display the shape for train & test data

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((618, 7), (265, 7), (618,), (265,))

In [9]:
# Scaling the features by using MinMaxScaler or normalization

from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler(feature_range=(0, 1))

x_train= mmscaler.fit_transform(x_train)
x_train = pd.DataFrame(x_train)

x_test= mmscaler.fit_transform(x_test)
x_test = pd.DataFrame(x_test)

In [10]:
#regression algo
from sklearn.linear_model import LinearRegression
ModeIRGR=LinearRegression()
ModeIRGR.fit(x_train,y_train)
y_pred=ModeIRGR.predict(x_test) 
from sklearn import metrics
print('mean absalute error (MAE):',round(metrics.mean_absolute_error(y_test,y_pred),3))
print('mean squared error (MSE):',round(metrics.mean_squared_error(y_test,y_pred),3))
print('root mean squared error(RMSA):',round(np.sqrt(metrics.mean_squared_error(y_test,y_pred)),3))
print('R2_score:',round(metrics.r2_score(y_test,y_pred),6))
print('mean absalute percentage error (MAPE):',round(metrics.mean_absolute_percentage_error(y_test,y_pred)*100,3),'%')
print('root mean squared log error(RMSLE)',round(np.log(np.sqrt(metrics.mean_squared_error(y_test,y_pred))),3))
# Define the function to calculate the MAPE - Mean Absolute Percentage Error

def MAPE (y_test, y_pred): 
    y_test, y_pred = np.array(y_test), np.array(y_pred)
    return np.mean(np.abs((y_test - y_pred) / y_test)) * 100

# Evaluation of MAPE 

result = MAPE(y_test, y_pred)
print('Mean Absolute Percentage Error (MAPE):', round(result, 3), '%')
# Calculate Adjusted R squared values 

r_squared = round(metrics.r2_score(y_test, y_pred),6)
adjusted_r_squared = round(1 - (1-r_squared)*(len(y)-1)/(len(y)-x.shape[1]-1),6)
print('Adj R Square: ', adjusted_r_squared)

mean absalute error (MAE): 25.78
mean squared error (MSE): 840.908
root mean squared error(RMSA): 28.998
R2_score: 0.759273
mean absalute percentage error (MAPE): 9.599 %
root mean squared log error(RMSLE) 3.367
Mean Absolute Percentage Error (MAPE): 9.599 %
Adj R Square:  0.757347

In [11]:
# Display the Final results 

Results = pd.DataFrame({'CO2_Emissions_A':y_test, 'CO2_Emissions_P':y_pred})

# Merge two Dataframes on index of both the dataframes

ResultsFinal = co2.merge(Results, left_index=True, right_index=True)

ResultsFinal['%Error'] = round(((ResultsFinal['CO2_Emissions_A']-ResultsFinal['CO2_Emissions_P'])/ResultsFinal['CO2_Emissions_A'])*100,3)

# Display 10 records randomly

ResultsFinal.sample(5)

,Engine_Size,Cylinders,Fuel_Consumption_city,Fuel_Consumption_Hwy,Fuel_Consumption_Comb,Fuel_Consumption_Comb_MPG,CO2_Emissions,CO2_Emissions_A,CO2_Emissions_P,%Error
660,2.0,4,8.9,6.6,7.9,36,184,184,193.841727,-5.349
420,1.6,4,7.1,7.9,7.4,38,176,176,183.980815,-4.535
254,5.7,8,16.7,10.9,14.1,20,331,331,375.035971,-13.304
868,2.0,4,10.4,8.1,9.4,30,219,219,236.983213,-8.212
845,5.7,8,18.5,13.9,16.4,17,384,384,440.364508,-14.678